
.nav-container{
    flex-grow: 1;
    text-align: center;
}

.nav{
    width: 100%;
    display: flex;
    justify-content: initial;
    background-color: #e4002b !important;
}


#logo{
    height: 5rem;
    padding-top: 5vh;
    padding-bottom: 5vh;
}
